{% extends 'base.html' %}
{% load static %}

{% block title %}{{ cake.name }} | Sweets Cupcake{% endblock %}

{% block content %}
<div class="container my-5">

  <div class="row align-items-center">

    <div class="col-md-6">
      <img src="{{ cake.image.url }}" class="img-fluid rounded shadow">
    </div>

    <div class="col-md-6">
      <h2 class="fw-bold">{{ cake.name }}</h2>
      <p class="fs-4 text-danger">₹{{ cake.price }}</p>

      <p class="text-muted">
        ⭐ {{ cake.rating }} / 5
      </p>

      <p>{{ cake.description }}</p>

      <a href="{% url 'add_to_cart' 'cake' cake.id %}" class="add-cart-btn">
          <i class="fa-solid fa-cart-plus"></i>
          Add to Cart
      </a>


    </div>

  </div>

</div>
{% endblock %}
