/* Cake Card */
cake-card {
  position: relative;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.cake-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 35px rgba(255, 77, 109, 0.25)
}

/* Cake Link */
.cake-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Image */
.cake-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Cake Name */
.cake-name {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
}

/* Best Seller Badge */
.best-seller {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff4d6d;
  color: #fff;
  font-size: 11px;
  padding: 5px 8px;
  border-radius: 6px;
  z-index: 3;
}


.cake-card:hover img {
  transform: scale(1.05);
}


/* -------------------------------
   Click Feedback (Tap Effect)
--------------------------------*/
.cake-card:active {
  transform: scale(0.98);
}

/* ===============================
   CAKE PRICE
================================*/
.cake-price {
  text-align: center;
  font-weight: 600;
  color: #ff4d6d;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 15px;
  display: block;
}

/* ================= ADD TO CART BUTTON ================= */
.add-cart-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 28px;
    margin-top: 20px;

    background: linear-gradient(135deg, #ff4d6d, #e63946);
    color: #fff;

    font-size: 16px;
    font-weight: 600;
    text-decoration: none;

    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(230, 57, 70, 0.35);

    transition: all 0.3s ease;
}

.add-cart-btn i {
    font-size: 18px;
}

/* Hover effect */
.add-cart-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 30px rgba(230, 57, 70, 0.5);
    background: linear-gradient(135deg, #e63946, #ff4d6d);
}

/* Click effect */
.add-cart-btn:active {
    transform: scale(0.96);
}

